# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

**/.ipynb_checkpoints/

.idea/
venv/
dist/
build/
moderne_visualizations_misc/local

.DS_Store

.mypy_cache/
.python/
.venv/

# Moderne CLI
.moderne/*
!.moderne/context/